.port-container {
    width: 100vw;
    min-height: 100vh;
    padding: 100px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.port-content {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}



.port-projects1 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/Pokemon.png');
    background-size: cover;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects2 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/quotes.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects3 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/CSI.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects4 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/moyawebsite.png');
    background-size: cover;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects5 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/ooftuwebsite.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects6 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/landingAna.png');
    background-size: cover;
    background-position: start;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects7 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/image-adventure.png');
    background-size: cover;
    background-position: start;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects8 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/dragonball.png');
    background-size: cover;
    background-position: left;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects9 {
    width: 15%;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.5s;
    background: url('../Images/salesappPic.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.5;
}

.port-projects {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.port-projects img {
    width: 100px;
}

.port-projects:hover {
    width: 25%;
    height: 700px;
    cursor: pointer;
    opacity: 1;
}

.port-projects-paragraph {
    width: 100%;
    height: 200px;
    background-color: #030b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.port-projects-paragraph p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.port-label {
    padding: 15px;
    background-color: #fff;
    color:#030b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.port-label a img {
    display: none;
    width: 20px;
}


.port-label img {
    display: none;
    width: 20px;
}


.port-label a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.port-view-ooftu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    overflow-y: auto;
    background-color: #000000bd;
}

#label-ooftu:checked + .port-view-ooftu {
    display: flex;
}

.label-ooftu-closed {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.label-ooftu-closed {
    font-size: 20px;
    font-weight: bold;
}


@media (max-width: 1000px) {

    .port-label {   
        padding: 5px;
    }
    .port-label a img {
        display: flex;
    }

    .port-label img {
        display: flex;
    }

    .port-label p {
        display: none;
    }

    .port-label a p{
        display: none;
    }
}

@media (max-width: 800px) {

    .port-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .port-projects {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .port-projects1,
    .port-projects2,
    .port-projects3,
    .port-projects4,
    .port-projects5,
    .port-projects6, 
    .port-projects7, 
    .port-projects8,
    .port-projects9 {
        width: 100%;
        height: 15%;
    }

    .port-projects:hover {
        width: 100%;
        height: 40%;
        cursor: pointer;
        opacity: 1;
    }

    .port-projects-paragraph {
        width: 200px;
        height: 88px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}

