* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.container {
  background: linear-gradient(to top, #040115e8, #010b1bd8), url('./Images/bannernew.jpg');
  background-size: cover;
  min-height: 100vh;

}
